<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GREENFLOWS</title>
  <meta name="description" content="GREENFLOWS">
  <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>
<body>
    <h1>GREENFLOWS TEMPLATE.</h1>
    <h2>Today it is {{ date }}</h2>
</body>
</html>
